.contact_wrapper {
  height: 80vh;
  overflow: auto;
  /* background: var(--clr-dark-100); */
}

.contact_wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 15px rgba(68, 68, 68, 0.377);
    background-color: var(--clr-dark-200);
    border-radius: 100px;
  }
  
  .contact_wrapper::-webkit-scrollbar {
    width: 8px;
  }
  
  .contact_wrapper::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-800);
    border-radius: 100px;
  }

.contact_item_container {
  height: 55vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact_option {
  background: var(--clr-darkerdark);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  margin-bottom: 2vw;
  font-size: var(--fs-body);
  letter-spacing: 1.5px;
}

.contact_link {
  margin-top: 8px;
}

.contact_link a {
  color: var(--clr-accent);
}
.contact_link a:hover {
  color: var(--clr-light);
}

.contact_option:hover {
  box-shadow: 0px 0px 10px rgba(0, 214, 214, 1);
}

iframe{
    height: 55vh;
    width: 40vw;
}

@media (max-width: 990px) {
  
  
    .contact_item_container {
      align-items: center;
      flex-direction: column;
      height: auto;
    }
    .contact_option_container{
        width: 80vw;
        padding: 10px 0 10px 0;
        /* background-color: red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    iframe{
        width: 80vw;
    }
  }
  