.work_wrapper {
  height: 80vh;
  overflow: scroll;
}



.laptop_container {
  position: relative;
  margin-bottom: 50px;
  background-color: burlywood;
width: fit-content;

 
  
}

.asome {
  background-color: rgba(210, 72, 30, 0.364);
  position: relative;
  width: 40vw;
  z-index: 5;
}

.asome1 {
  position: absolute;
  border-radius: 10px;
  width: 30vw;
  top: calc(1px + 1vw);
  left: calc(1px + 5vw);
  z-index: 1;
}
