.wrapper {
  background-color: var(--clr-dark);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.active {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: calc(1rem + 0.2vw);
  color: var(--clr-accent);
  text-decoration: none;
  padding: 1vw;
  margin: 1.2vw;
  transition: color 0.5s ease, background-color 0.5s;
  background-color: rgba(17, 17, 17, 0.4);
  border-radius: 4px;
  outline: 1px solid;
  opacity: 1;
  box-shadow: 0px 0px 15px var(--clr-accent) ;
  animation: flicker 0.75s linear 0s reverse 1;
}

.link {
  letter-spacing: 2px;
  font-size: calc(1rem + 0.5vw);
  color: var(--clr-light);
  text-decoration: none;
  padding: 1vw;
  margin: 1.2vw;
}

@keyframes flicker {
  0% {
    opacity: 0.55;
  }
  5% {
    opacity: 0.6;
  }
  10% {
    opacity: 0.7;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
