
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Playfair+Display&family=Yeseva+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, u {
  text-decoration: none;
  color: var(--clr-light);
}


:root {
  --ff-primary: "Gabriela",Cambria, Cochin, Georgia, monospace;
  --ff-secondary:  "Playfair Display", "Lucida Grande";
  --ff-name: "Yeseva One",sans-serif;


  --fw-reg: 300;
  --fw-med: 700;
  --fw-bold: 900;

  --clr-light: #e4e4e4;
  --clr-darkerdark: #020008;
  --clr-darkerdark-100: #02000866;

  --clr-dark: #1d1d1d;
  --clr-dark-200: #1b1b1b;
  --clr-dark-100: #1d1d1d88;
  --clr-lightdark: #6c706f;
  --clr-accent: #00d6d6;
  --clr-accent-800: #00d6d694;


  --fs-h1: 2.75rem;
  --fs-h2: 2.125rem;
  --fs-h3: 1.375rem;
  --fs-body: 1.25rem;
  --fs-title: 3rem;

  --test: red 2px solid;
}
html{
  overflow: hidden;
}
body {
  min-height: 100vh;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  overflow: hidden;
  z-index: -20;
  font-family: var(--ff-secondary);
  cursor: default;
}

canvas {
  position: absolute;
  z-index: -10;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mr-5 {
  margin-right: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.text-center{
  text-align: center;
}

.cursor-pointer{
  cursor: pointer;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: calc(1rem + 0.2vw);
  color: var(--clr-accent);
  text-decoration: none;
  padding: 1vw;
  margin: 1.2vw;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border-radius: 0.75rem;
  outline: 1px solid;
  opacity: 1;
  width: max-content;
}

.btn:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 1);
  animation: flickerB 0.75s linear 0s reverse 1;
}

.title_heading_container {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_heading {
  font-family: var(--ff-primary);
  font-size: var(--fs-title);
  letter-spacing: 3px;
  background-image: linear-gradient(180deg, #ffffff, #0a6161);
  background-clip: text;
  color: transparent;
  position: relative;
}

.title_heading::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 4px;
  width: 0px;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  background: linear-gradient(180deg, #e4e4e4, #053838);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.title_heading:hover:after {
  width: 100%;
  left: 0%;
}

@keyframes flickerB {
  0% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.55);
  }
  5% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.6);

    /* opacity: 0.6; */
  }
  10% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.7);

    /* opacity: 0.7; */
  }
  15% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.85);

    /* opacity: 0.85; */
  }
  25% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.5);

    /* opacity: 0.5; */
  }
  30% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 1);

    /* opacity: 1; */
  }
  35% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.1);

    /* opacity: 0.1; */
  }
  40% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.25);

    /* opacity: 0.25; */
  }
  45% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.5);

    /* opacity: 0.5; */
  }
  60% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 1);

    /* opacity: 1; */
  }
  70% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.85);

    /* opacity: 0.85; */
  }
  80% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.4);

    /* opacity: 0.4; */
  }
  90% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 0.5);

    /* opacity: 0.5; */
  }
  100% {
    box-shadow: inset 0px 0px 15px rgba(0, 214, 214, 1);

    /* opacity: 1; */
  }
}
