

.spotlight {
  position: absolute;
  height: 600px;
  width: 600px;
  z-index: -15;  
}

.spotlightchild {
  height: 100%;
  width: 100%;
  background-image: -webkit-radial-gradient(
    center,
    circle cover,
    rgb(0, 99, 99,0.35) 10%,
    rgba(0, 99, 99, 0.25) 20%,
    rgb(0, 99, 99, 0.2) 30%,
    rgba(0, 99, 99, 0.15) 40%,
    rgba(0, 99, 99, 0.0) 50%
  );

}
